.icon-button{
    color: white;
    width: 40px;
    cursor: pointer;
    height: 40px;
    display: flex;
    font-size: 14px;
    min-width: 40px;
    align-items: center;
    margin-left: 20px;
    border-radius: 25px;
    justify-content: center;
    background-color: #1877f2;
}