.drag-and-drop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.drag-and-drop-container{
    display:flex;
    justify-content: center;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 90%;
    height: 90%;
    border: 2px dashed #c4c2c0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-container:hover{
    border: 2px dashed #008243;
}
.button-container:hover .drag-and-drop-file-icon-container i{
    //color: #1877f2;
    color: gray;
}
.button-container button{
    font-weight: 600;
    align-items: center;
    margin: 0px;
    background-color: #008243;
    color: white;
    box-shadow: none;
    border: 1px solid #c4c2c0;
    min-height: 35px;
    border-radius: 15px;
    min-width: 40px;
    max-width: 140px;
    margin-top: 10px;
}

.drag-and-drop-file-icon-container i{
    font-size: 60px;
    color: #c4c2c0;
}