.scroll{
    overflow: scroll;
    height: 100%;
}
.close-bar {
    text-align: right;
    margin-top: 1%;
    font-size: 20px;
    width: 99%;
    display: flex;
    justify-content: end;
}
.cross-button button{
    cursor:pointer;
}
.cross-button {
    text-decoration: none;
}
.add-documents-container{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    margin: 10px;
    line-height: 0;
    border: 1px solid #e6e3e3;
}
.add-documents-content{
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    height: 300px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.add-documents-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.prepare-drag-and-drop{
    width: 60%;
    height: 400px;
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0, 0, 0,0.14), 0px 1px 5px 0px rgba(0,0, 0,0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.drag-and-drop-container{
    display: flex;
    justify-content: center;
    width: 95%;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}
.prepare-envelope-titles{
    width: 100%;
    line-height: 0;
    margin-bottom: 10px;
    display: flex;
}
.prepare-envelope-titles h1{
    margin-left: 3px;
}

.recipients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    padding-bottom: 30px;
    margin-top: 10px;
    color:#8e8a8a;
}

.recipient-button {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    background: #F3F2F0;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    margin: 0px;
    background-color: #1877f2;
    color: white;
    box-shadow: none;
    border: 1px solid #c4c2c0;
    min-height: 30px;
    border-radius: 15px;
    min-width: 40px;
    max-width: 140px;
    margin-top: 10px;
    margin-right: 10px;
}
.recipient-button h1{
    font-size: 11px;
    font-weight: 700;
}
.recipient-button i{
    font-size: 12px;
}
.recipients-container input{
    cursor: pointer;
    font-family: 'Roboto';
}
.recipients-container textarea{
    font-family: 'Roboto';
    resize: none;
    overflow-x: scroll;
}
.prepare-envelope-button-actions {
    display: flex;
    background: white;
    height: 55px;
    width: 100%;
    align-items: center;
    border-top: 1px solid #e0e0de;
}
.only-signer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button-next{
    background-color: #1877f2 !important;
    margin-right: 2.5% !important;
}
.add-recipients-buttons{
    display: flex;
}
.prepare-envelope-options{
    height: 20px;
}
.email-subject-container{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.email-subject{
    display:flex;
    width: 100%;
    padding-bottom: 5px;
}
.prepare-envelope-email-message{
    width: 100%;
    height: 150px;
}
.email-subject-container input{
    width: 100% !important;
}
.add-documents-message-container{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background: white;
    padding: 30px;
    margin: 10px;
    border: 1px solid #e6e3e3;
}
.recipient-button-bar {
    display: flex;
    justify-content: space-between;
}
a.cross-button{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}
.prepare-envelope-footbar{
    width: 98%;
    display: flex;
    justify-content: right;
}