.recipient-card-container{
    display: flex;
    background: white;
    height: 100px;
    margin-top: 15px;
    border: 1px solid #d0ddef;
}
.recipient-card-data-name{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
}
.recipient-card-data{
    display: flex;
    width: 80%;
    justify-content: left;
}
.recipient-card-select{
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
}
.recipient-card-button{
    margin: 1%;
}
.recipient-card-data-name input{
    height: 20px;
}
.recipient-card-data-name span{
    font-weight: 700;
}
.star {
    color: red;
    margin-left: 5px;
}
.recipientcard-remove-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}
.recipientcard-remove-button{
    border: none;
    background: white;
    color: gray;
    cursor: pointer;
}
.recipient-card-data-text-container {
    display: flex;
    font-size: 8px;
    line-height: 0;
}
.recipient-card-data-name input{
    border: none;
    background: aliceblue;
    border-radius: 5px;
    height: 25px;
}
.recipients-container input{
    border: none;
    background: aliceblue;
    border-radius: 5px;
    height: 25px;
}
.recipients-container textarea {
    border: none;
    background: aliceblue;
    border-radius: 5px;
    height: 200px;
}
.recipient-card-container-avatar-img{
    background-image: url("./icon.svg");
    background-size: cover;
    width: 60px;
    height: 60px;
}
.recipient-card-container-avatar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.recipient-card-buttons {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}