.manage-content{
  margin-top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 60px;
  flex-direction: row;
  justify-content: center;
}
.manage-column-menu {
  width: 15%;
  min-width: 200px;
  padding-top: 40px;
  background-color: #e0e0de;
  justify-content: left;
}
.manage-content-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
  }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
thead {
  border-bottom: 1px solid #e0e0de;
  text-align: left;
}
th {
  padding: 10px;
}

.pedingSignatures {
    border-radius: 15px;
    background-color: white;
  }

.signedDocuments {
    border-radius: 15px;
    background-color: white;
}

.h2 {
    font-size: 17px;
    margin-left: 20px;
}

.info {
    display: flex;
    flex-direction: row;
}
.manage-content-dashboard-header{
  margin: 0px;
  display: flex;
  justify-content: space-between;
  padding: 45px 45px 35px 45px;
  border-bottom: 1px solid #e0e0de;
}
.manage-content-dashboard-header h1{
  margin: 0px;
  width: 100%;
}

.received-signature-searchbar{
  width: 50%;
}

.button-bar {
  display: flex;
  padding: 20px 0px 20px 20px;
  height: 50px;
  flex-direction: column;
  align-items: baseline;
}
.button-bar h1{
  color: gray;
  font-size: 11px;
  padding-left: 5px;
}
.button-bar input{
  margin-right: 15px;
}
.button-bar button{
  cursor: pointer;
  font-weight: 600;
  align-items: center;
  background-color: #1877f2;
  color: white;
  margin-right: 3px;
  min-width: 80px;
  min-height: 30px;
  max-width: 140px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

}
.manage-status-cell {
  width: 15%;
}
.manage-checkAll-checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px solid white;
}
.manage-button-bar-not-displayed button{
  display: none;
}
.manage-button-bar-disabled button{
  background-color: #aaccf8;
  cursor: unset;
}
.manage-empty-folder-message{
  color:gray;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}