.home-user{
    background: linear-gradient(145deg,#0d47a1,#42a5f5);
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-user-info{
    display: flex;
    flex-direction: row;
    width: 75%;
}

.user-actions-required{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    color: #fff;
    width:30%;
}
.user-actions-required-number{
    font-size: 40px;
}
.user-required-data-actions-container{
	display: flex;
    flex-direction: column;
    width: 100%;
}
.user-required-data{
	text-align: left;
    padding-left: 50px;
    color: #fff;
    padding-bottom: 15px;
}
.user-required-data h1{
    font-size: 30px;
    margin:0px;
}
.user-actions-required-container{
	display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 50px;
}
.home-drag-and-drop-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.home-drag-and-drop{
    background: white;
    height: 400px;
    width: 60%;
    margin-top: -50px;
    border: 1px solid #e0e0de;
}
.home-container{
    overflow: hidden;
}