@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.firma-title {
  font-family: "Yesteryear", cursive;
  color: #1877f2;
  font-style: normal;
  &.main {
    font-size: 80px;
    line-height: 1px;
    animation: typing 3s steps(30, end) 1s forwards;
  }
  &.modal {
    font-size: 30px;
  }
  &.header {
    font-size: 40px;
  }
  //????
  .margin-right-10 {
    margin-right: 10px;
  }
}
.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.classes {
  width: 100%;
  background-color: red;
}

.user {
  width: 15%;
  min-width: 200px;
  padding-right: 50px;
}
.body {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  height: 100%;
}
.body a{
  text-decoration: none;
}
.main {
  width: 100%;
  flex-direction: row;
  display: flex;
}
.webPage {
  width: 100%;
  height: 100%;
  text-align: center;
}
.link {
  text-decoration: none;
  color: red;
  line-height: 25px,
}

