@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

.firma-title {
  font-family: "Yesteryear", cursive;
  color: #1877f2;
  font-style: normal;
  &.main {
    font-size: 80px;
    line-height: 1px;
  }
  &.modal {
    font-size: 30px;
  }
}
