.header-app-bar {
    color: grey;
    height: 60px;
    min-height: 60px;
    background-color: white;
    border-bottom: 1px solid #e0e0de;
}
.header-tool-bar {
    height: 60px;
    min-height: 60px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.header-icon-bar {
    height: 100%;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}
.header-icon-bar-element {
    height: 100%;
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon-bar-element-selected {
    height: 100%;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid #1877f2;
}
.header-bar-link {
    text-decoration: none;
    color: #717171;
    line-height: 25px;
    &:hover {
      color: #1877f2;
    }
}
.header-icon-bar-element-selected a{
    text-decoration: none;
    color: #1877f2;
    font-weight: bolder;
    margin-top: 8px;
} 

.header-icon-container {
    width: 25%;
    min-width: 200px;
    display: flex;
    justify-content: center;
}
.header-logout-container {
    padding-left: 35px;
    border-left-style: solid;
    border-width: 1px;
    height: 100%;
    display: flex;
    align-items: center;
    border-color: #e0e0de;
}
.header-logout-link-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.header-logout-link {
    flex-direction: row;
    font-size: 18px;
} 
.header-logout-link span{
    padding-left: 10px;
}