.sign-container {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #e0e0de;
    border-width: 1px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
}
.form {
    padding-top: 5px;
}

.document {
    margin-right: 20px;
    margin-left: 20px;
    width: 55px;
    height: 55px;
}
.title {
    margin-top: 0px;
    font-size: larger;
}
.date {
    margin-top: -10px;
    font-size: small;
    padding-bottom: 30px;
}
.info {
    display: flex;
    flex-direction: row;
}
.options {
    margin-top: 15px;
    border-top-style: solid;
    border-color: #e0e0de;
    border-width: 1px;
    padding-top: 2px;
}
.sign-button {
    margin-left: 5px;
    background-color: #e0e0de;
    cursor:pointer;
}
.documentInfo {
    display: flex;
    flex-direction: row;
}
.signatures-avatar {
    height: 25px;
    width: 25px;
    margin-left: 20px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
.document-title h1{
    font-size: 14px;
    line-height: 0;
    text-align: left;
}
.document-info{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}
.document-subtitle{
    font-size: 10px;
    color:gray;
    display: inline-flex;
    line-height: 0;
    padding-top: 7px;
}
.envelope-date-cell{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10px;
}
.document-subtitle h5{
    margin-right: 2px;
    line-height: 0;
    font-size: 10px;
    font-weight: unset;
}
.envelope-recipients{
    display: inline-flex;
}
.td-checkbox{
    text-align: center !important;
}
.avatar{
    margin: 10px 0px 0px 0px;
    width: 20px !important;
    font-size: 10px !important;
    height: 20px !important;
}
.pending-icon{
    color: red;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 25px;
    padding: 2px;
}
.completed-icon{
    color:green;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    border-radius: 25px;
    padding: 2px;
}
.waiting-for-others-icon{
    color: #f1e05a;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1e05a;
    border-radius: 25px;
    padding: 2px;
}

.envelope {
    border-bottom: 1px solid #e0e0de;
}

.envelope-pending {
    border-left: 5px solid red;
}
.envelope-completed {
    border-left: 5px solid green;
}
.envelope-waiting-for-others{
    border-left: 5px solid #f1e05a;
}
.envelope:hover{
    cursor:pointer;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.selected-envelope{
    cursor:pointer;
    border-bottom: 1px solid #e0e0de;
}
.envelope-table-row-cell{
    display: table-cell;
    width: 10%;
    padding-top: 4px;
}
.envelope-table-row-cell-checkbox{
    display: table-cell;
    width: 1%;
}
.envelope-table-row-cell-date{
    display: table-cell;
    width: 10%;
}
.envelope-table-row-cell-date h1{
    line-height: 0;
    font-size: 15px;
}
.envelope-table-row-cell-date-date-info{
    text-align: left;
    line-height: 0;
}
.envelope-table-row-cell-iconbutton {
    cursor:pointer;
    padding:10px;
    color: #717171;
    border-radius: 20px;
}
.envelope-table-row-cell-iconbutton-hidden {
    padding: 10px;
    color: green;
}
.envelope-table-row-cell-iconbutton:hover {
    background: #e0e0de;
    
}
.envelope-table-row-cell-iconbutton-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.envelope-status h1{
    line-height: 0;
    font-size: 11px;
    margin-left: 5px;
}
